<!-- src/app/pages/nosotros/nosotros.component.html -->
<div class="container">
    <!-- Sección de Historia, Misión y Visión -->
    <div class="row mb-4">
      <div class="col-md-6">
        <h2>Historia</h2>
        <p>Comas Tecnológicas fue fundada en 2010 con el objetivo de revolucionar el mercado de la tecnología mediante la oferta de soluciones innovadoras y de alta calidad. Desde nuestros inicios, hemos estado comprometidos con la excelencia y la satisfacción del cliente. Empezamos como un pequeño proveedor local de equipos tecnológicos, pero nuestra dedicación a la calidad y al servicio nos permitió expandirnos rápidamente.

            A lo largo de los años, hemos establecido alianzas estratégicas con los principales fabricantes de tecnología y hemos ampliado nuestro catálogo para incluir una amplia gama de productos, desde computadoras y accesorios hasta soluciones de red y software especializado. Hoy en día, somos un referente en el sector, ofreciendo no solo productos de última generación, sino también un servicio al cliente inigualable.</p>
      </div>
      <div class="col-md-6">
        <h2>Misión y Visión</h2>
        <p><strong>Misión:</strong> Nuestra misión en Comas Tecnológicas es proporcionar a nuestros clientes soluciones tecnológicas innovadoras que impulsen su éxito. Nos dedicamos a ofrecer productos y servicios de alta calidad que satisfagan las necesidades de nuestros clientes, manteniéndonos a la vanguardia de la tecnología y adaptándonos a un mercado en constante evolución.</p>
        <p><strong>Visión:</strong> Nuestra visión es ser líderes en la venta de tecnología y soluciones innovadoras a nivel nacional e internacional. Aspiramos a transformar la manera en que las personas y las empresas interactúan con la tecnología, ofreciendo productos y servicios que faciliten su vida cotidiana y optimicen su desempeño.</p>
      </div>
    </div>
  
    <!-- Sección de Ejecutivos -->
    <h2>Conoce a Nuestros Ejecutivos</h2>
    <div class="row">
      <!-- Tarjeta de Ejecutivo -->
      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="public/imagenes/ejecutivo1.png" class="card-img-top" alt="Ejecutivo 1">
          <div class="card-body">
            <h5 class="card-title">Mauricio Gutierrez </h5>
            <p class="card-text">Administracion de Empresa</p>
          </div>
        </div>
      </div>
  
      <!-- Añade más tarjetas de ejecutivos aquí -->
      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="public/imagenes/ejecutivo2.png" class="card-img-top" alt="Ejecutivo 2">
          <div class="card-body">
            <h5 class="card-title">Marco Gutierrez</h5>
            <p class="card-text">Jefe de Empresa</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  